<div class='row'>
  <p>
    <strong>Event Name:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Event Date:</strong>
    <%= @event.start_time.strftime('%m-%d') %>
  </p>

  <p>
    <strong>Event Location:</strong>
    <%= @event.event_location %>
  </p>
</div>

<% if @event.members.any? %>
  <div class='row'>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Attendees
    </a>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <% @members.each do |member| %>
          <p> <%= member.full_name %> </p>
      <% end %>
    </div>
  </div>
<% end %>


<div class='row p-1'>
  <%= link_to 'Back', events_path %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
