<div class='row'>
  <p>
    <strong>Event Name:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Event Date:</strong>
    <%= @event.start_time %>
  </p>

  <p>
    <strong>Event Location:</strong>
    <%= @event.event_location %>
  </p>
</div>

<div class='row'>
  <% if @event.members.any? %>
      <% @members.each do |member| %>
          <p> Member: <%= member.full_name %> </p>
      <% end %>
  <% end %>
</div>


<div class='row'>
  <%= link_to 'Back', events_path %>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
